/* Общие настройки */
:root {
    --mainC: #648EC8;
    --mainCTr: rgba(100, 142, 200, 0.23);
    --mainCHov: #4074BC;
}
* {
    box-sizing: border-box;
  }
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #111111;
}
textarea,
button:focus,
button:visited,
button:active {
  outline: none;
}
.button {
  background-color: #68b738;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(#68b738, #91d16a);
}
p {
  margin: 0;
}
input {
  outline: none;
}
h2 {
  margin: 0;
}
.nav {
    color: #000 !important;
}
.nav:hover {
    color: #fff !important;
}
main {
  min-height: calc(100vh - 32rem);
  margin: 5rem 0 7rem 0;
}
.table {
  width: 100%;
  border: 1px solid #000;
  font-size: 1.4rem;
}
.table th {
  background: var(--mainC);
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
}
.table tr {
  border-bottom: 1px solid #000;
}
.table td {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
}
.table__ref {
  text-decoration: underline;
}
.table__ref:hover {
  color: var(--mainCHov);
}

/* header */
header {
  background-color: var(--mainC);
  height: 10rem;
}
header {
  padding: 1rem 0;
}
.header__logo {
  width: 18rem;
  height: 8rem;
  border-radius: 10px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 2.2rem;
}
.header__menu-link {
  font-size: 2rem;
  color: #fff;
}
.header__seller {
  margin-top: 2rem;
}
.header__seller:hover {
  width: 3rem;
  height: 3rem;
}

/* footer */
footer {
  background-color: var(--mainC);
  height: 10rem;
}
.footer__info {
  text-align: center; 
  font-size: 1.8rem;
  color: #fff;
  margin-top: 2.2rem;
}

/* index.php */
.main__photo {
  width: 100%;
  margin-bottom: 5rem;
}
.main__info {
  margin-top: 1rem;
  font-size: 16px;
}
.main__sertificate-photo {
  float: right;
  width: 40%;
  margin: 0 0 2rem 2rem;
}

/* product */
.product {
  margin-bottom: 7rem;
}
.product__photo {
  width: 100%;
}
h2 {
  font-size: 2.4rem;
}
/* .product__table {
  width: 100%;
  border: 1px solid #000;
  font-size: 1.4rem;
}
.product__table th {
  background: var(--mainC);
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
}
.product__table tr {
  border-bottom: 1px solid #000;
}
.product__table td {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
} */
.product__info {
  margin-top: 3rem;
  font-size: 1.6rem;
}

/* form */
.form {
  min-height: 50rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  margin: 0;
  padding: 4rem 0;
  border: 3px solid var(--mainC);
  font-size: 1.8rem;
  box-shadow: 5px 10px 8px #d3d6fd;
}
.form__header {
  font-size: 2.4rem;
}
.form__input {
  width: 35rem;
  height: 5.5rem;
  color: rgba(0, 0, 0, 0.66);
  background: var(--mainCTr);  
  border: none;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 1.5rem 2rem;
}
.form__textarea {
  height: 12rem;
}
.form__btn {
  height: 5.5rem;
  width: 17rem;
  color: #fff;
  background: var(--mainC);
  border: none;
  border-radius: 20px;
  margin-top: 3rem;
}
.form__btn:hover {
  background: var(--mainCHov);
}

/* contacts.php */
.contacts {
  margin: 5rem 0;
  font-size: 1.8rem;
}

/* authorization.php */
.form_authorization {
  min-height: 30rem;
  margin-top: 8vh;
}

/* requests.php */
.requests__header {
  text-align: center;
}
.form_find {
  min-height: 2rem;
  flex-direction: row !important;
  border: none;
  box-shadow: none;
}
.form_find__input {
  margin-right: 5rem;
  margin-top: 0;
}
.form_find__btn {
  margin-top: 0;
}
.form_find__undo {
  margin-left: 2rem;
}
.form_find__undo:hover {
  cursor: pointer;
  width: 3rem;
  margin-left: 2.2rem;
}

/* sign_up.php */
.form__note {
  margin: 3rem 8rem 1rem 8rem;
  font-size: 12px;
}
.form_sign-up {
  min-height: 30rem;
  margin-top: 8vh;
}
.form_sign-up .form__input {
  margin-top: 0;
  margin-bottom: 3rem;
}
.form_sign-up .form__btn {
  margin-top: 0;
}

/* modification.php */
.back-btn {
  border: 1px solid var(--mainC);
  border-radius: 20px;
  padding: 1.4rem 3rem 1.4rem 3rem;
  font-size: 18px;
}
.back-btn:hover {
  background: var(--mainCHov);
  color: #fff;
}

/* account.php */
.account__info {
  font-size: 16px;
  font-weight: bold;  
}
.account__header {
  text-align: center;
  margin-bottom: 5rem;
}