/* Общие настройки */
:root {
    --mainC: #648EC8;
    --mainCTr: rgba(100, 142, 200, 0.23);
    --mainCHov: #4074BC;
}
* {
    box-sizing: border-box;
  }
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #111111;
}
textarea,
button:focus,
button:visited,
button:active {
  outline: none;
}
.button {
  background-color: #68b738;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(#68b738, #91d16a);
}
p {
  margin: 0;
}
input {
  outline: none;
}
h2 {
  margin: 0;
}
.nav {
    color: #000 !important;
}
.nav:hover {
    color: #fff !important;
}
main {
  min-height: calc(100vh - 32rem);
  margin: 5rem 0 7rem 0;
}
.table {
  width: 100%;
  border: 1px solid #000;
  font-size: 1.4rem;
}
.table th {
  background: var(--mainC);
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
}
.table tr {
  border-bottom: 1px solid #000;
}
.table td {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
}
.table__ref {
  text-decoration: underline;
}
.table__ref:hover {
  color: var(--mainCHov);
}

/* header */
header {
  background-color: var(--mainC);
  min-height: 10rem;
}
header {
  padding: 1rem 0;
}
.header__logo {
  width: 18rem;
  height: 8rem;
  border-radius: 10px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 2.2rem;
}
.header__menu-link {
  font-size: 2rem;
  color: #fff;
}
.header__icon {
  margin-top: 2rem;
  margin-left: 1rem;
}
.header__icon:hover {
  width: 3rem;
  height: 3rem;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.mobile-menu_shown {
    display: flex;
}
.mobile-menu__link {
    color: #fff;
}
.mobile-menu hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.mobile-menu__btn-container {
    display: none;
}
.mobile-menu__btn {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
    position: relative;
}
.mobile-menu__btn span, 
.mobile-menu__btn span::before, 
.mobile-menu__btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}
.mobile-menu__btn span::before,
.mobile-menu__btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.mobile-menu__btn span::before {
    transform: translateY(-5px);
}
.mobile-menu__btn span::after {
    transform: translateY(5px);
}
.mobile-menu__btn_active span {
    height: 0;
}
.mobile-menu__btn_active span:before {
    transform: rotate(45deg);
}
.mobile-menu__btn_active span:after {
    transform: rotate(-45deg);
}

/* footer */
footer {
  background-color: var(--mainC);
  height: 10rem;
}
.footer__info {
  text-align: center; 
  font-size: 1.8rem;
  color: #fff;
  margin-top: 2.2rem;
}

/* index.php */
.main__photo {
  width: 100%;
  margin-bottom: 5rem;
}
.main__info {
  margin-top: 1rem;
  font-size: 16px;
}
.main__sertificate-photo {
  float: right;
  width: 40%;
  margin: 0 0 2rem 2rem;
}

/* product */
.product {
  margin-bottom: 7rem;
}
.product__photo {
  width: 100%;
}
h2 {
  font-size: 2.4rem;
}
.product__info {
  margin-top: 3rem;
  font-size: 1.6rem;
}

/* form */
.form {
  min-height: 50rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  margin: 0;
  padding: 4rem 0;
  border: 3px solid var(--mainC);
  font-size: 1.8rem;
  box-shadow: 5px 10px 8px #d3d6fd;
}
.form__header {
  font-size: 2.4rem;
}
.form__input {
  width: 35rem;
  height: 5.5rem;
  color: rgba(0, 0, 0, 0.66);
  background: var(--mainCTr);  
  border: none;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 1.5rem 2rem;
}
.form__textarea {
  height: 12rem;
}
.form__btn {
  height: 5.5rem;
  width: 17rem;
  color: #fff;
  background: var(--mainC);
  border: none;
  border-radius: 20px;
  margin-top: 3rem;
}
.form__btn:hover {
  background: var(--mainCHov);
}

/* contacts.php */
.contacts {
  margin: 5rem 0;
  font-size: 1.8rem;
}

/* authorization.php */
.form_authorization {
  min-height: 30rem;
  margin-top: 8vh;
}
.authorization__forgot {
  font-size: 12px;  
  margin-top: 1rem;
}
.authorization__forgot:hover {
  text-decoration: underline;
}

/* requests.php */
.requests__header {
  text-align: center;
}
.form_find {
  min-height: 2rem;
  flex-direction: row !important;
  border: none;
  box-shadow: none;
}
.form_find__input {
  margin-right: 5rem;
  margin-top: 0;
}
.form_find__btn {
  margin-top: 0;
}
.form_find__undo {
  margin-left: 2rem;
}
.form_find__undo:hover {
  cursor: pointer;
  width: 3rem;
  margin-left: 2.2rem;
}

/* sign_up.php */
.form__note {
  margin: 3rem 8rem 1rem 8rem;
  font-size: 12px;
}
.form_sign-up {
  min-height: 30rem;
  margin-top: 8vh;
}
.form_sign-up .form__input {
  margin-top: 0;
  margin-bottom: 3rem;
}
.form_sign-up .form__btn {
  margin-top: 0;
}

/* modification.php */
.form_modification {
  min-height: 30rem;
  margin-top: 8vh;
}
.form_modification .form__input {
  margin-top: 0;
  margin-bottom: 3rem;
}
.form_modification .form__btn {
  margin-top: 0;
}
.back-btn {
  border: 1px solid var(--mainC);
  border-radius: 20px;
  padding: 1.4rem 3rem 1.4rem 3rem;
  font-size: 18px;
}
.back-btn:hover {
  background: var(--mainCHov);
  color: #fff;
}

/* account.php */
.account__info {
  font-size: 16px;
}
.account__header {
  text-align: center;
  margin-bottom: 7rem;
}
.buttons-container {
  display: flex;
}
.account__btn {
  display: inline-flex;
  justify-content: center;
  width: 13rem;
  margin: 2rem 2rem 0 0;
  padding: 1.5rem;
  border-radius: 15px;
  font-size: 12px;
}
.account__btn:hover {
  background: var(--mainCHov);
  color: #fff;
}
.modify-btn {
  background: var(--mainC);
  color: #fff;
}
.logout-btn {
  border: 1px solid var(--mainC);
}


/* MOBILE ADAPTATION */
@media screen and (max-width:1199px) {
    
}
@media screen and (max-width:991px) {
    /* header */
    .header__logo {
        content: url(http://db-college/app/img/logo-small.jpg);
        width: 8rem;
        height: 8rem;
    }
    .header__menu {
        padding: 0;
    }
}
@media screen and (max-width:767px) {
    .header__menu-container {
        display: none;
    }
    .header__logo {
        width: 6rem;
        height: 6rem;
        margin-top: 1rem;
    }
    .header__icon {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 2.5rem;
    }
    .mobile-menu__btn-container {
        display: flex;
        margin-top: 2.5rem;
    }
    .main__info {
        font-size: 12px;
    }
    .footer__info {
        font-size: 14px;
    }
}
@media screen and (max-width:575px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    .form__header {
        font-size: 14px;
    }
    .table, .table th {
        font-size: 8px;
        word-break: break-all;
    }
    .product__info {
        font-size: 12px;
    }
    .form {
        font-size: 12px;
        padding: 2rem;
    }
    .form_find {
        flex-direction: column !important;
        align-items: flex-end;
    }
    .form__input {
        width: 25rem;
        height: 4rem;
        display: block;
        margin-bottom: 1rem;
    }
    .form_find__input {
        margin-right: 0;
    }
    .form_find__btn {
        margin-bottom: 1rem;
    }
    .form__textarea {
        height: 8rem;
    }
    .form__note {
        margin: 2rem 3rem 1rem 3rem;
    }
    .back-btn {
        font-size: 12px;
    }
    .contacts {
        font-size: 12px;
    }
    .account__info {
        font-size: 12px;
    }
}